<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<title>Customer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<!-- Main-Panel-Content -->
	<div class="content" data-layout-fragment="content">
		<div class="container-fluid">
			<!-- your content here -->
			<div class="row">
				<div class="col-md-12">
					<div class="card data-tables">
						<div class="card-header card-header-primary">
							<h4 class="card-title">Business Trip - Verwaltung</h4>
							<p class="card-category">CRM - Trips</p>
						</div>
						<div
							class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
							<div class="toolbar">
								<!--        Here you can write extra buttons/actions for the toolbar              -->
							</div>
							<div class="fresh-datatables">


								<table id="datatables"
									class="table table-striped table-no-bordered table-hover"
									cellspacing="0" width="100%" style="width: 100%">
									<thead>
										<tr>
											<th>id</th>
											<th>title</th>
											<th>description</th>
											<th>start trip</th>
											<th>end trip</th>

											<th class="disabled-sorting text-right">Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="trip : ${trips}">
											<td th:text="${trip.id}">4711</td>
											<td th:text="${trip.title}">Muster</td>
											<td th:text="${trip.description}">San Francisco</td>
											<td th:text="${trip.startTrip}">March 22</td>
											<td th:text="${trip.endTrip}">March 30</td>

											<td class="td-actions text-right"><a
												th:href="@{/edit(id=${trip.id})}">
													<button type="button" title="Edit Customer"
														class="btn btn-white btn-link btn-sm">
														<i class="material-icons">edit</i>
													</button>
											</a></td>

											<td class="td-actions text-right"><a
												th:href="@{/delete/{id}(id=${trip.id})}">
													<button type="button" title="Remove Customer"
														class="btn btn-white btn-link btn-sm">
														<i class="material-icons">delete_forever</i>
													</button>
											</a></td>



										</tr>


									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>









		</div>
	</div>

</body>



</html>